#ignorar archivos sensibles
token.txt

#ignorar entornos virtuales
venv/
.env/

#pdf con los enunciados
ejercicios_lección_2.pdf

#readme_con la guia para realizar la actividad
enunciado_red_me.md

#trabajo en markdown para presentar en moodle
guia_leccion2_apartado2.1.md


